<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>思い出を共有しよう！</h1>

      <%= form_with model: @trip, url:trips_path, method: :post, local:true do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :explain  %>
        <%= f.text_area :explain, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "投稿する", class: 'btn btn-info text-light' %>
      </div>
      <% end %>

    </div>
  </div>
</div>