<!DOCTYPE html>
<html>
  <head>
    <title>RailsPractice0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/da08226a47.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー部分呼び出し-->
    <%= render 'layouts/header' %>

  <main>
    <%= yield %>
  </main>

  <!--フッター部分の呼び出し-->
  <%= render'layouts/footer' %>

  </body>
</html>
